<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-layout-decorate="~{backend/layouts/main}">
    <head>
        <title th:text="${title}" ></title>
    </head>
    <body>
        <div class="content-wrapper" role="main" data-layout-fragment="content">
            <script th:inline="javascript" 
                    th:with="currenUser=${#request.userPrincipal.principal.user}, 
                    currentSite=${#request.userPrincipal.principal.site}">
                        var form = {};
                        var urlExcel = "/report/pqm-drug-estimates/excel.html";
            </script>
            <section class="content-header">
                <h1>
                    <span th:text="${title}" ></span>
                </h1>
                <ol class="breadcrumb">
                    <li><a th:href="${T(com.gms.components.UrlUtils).home()}"><i class="fa fa-dashboard"></i>Trang chủ</a></li>
                    <li><a th:href="${T(com.gms.components.UrlUtils).pqmDrugEstimate()}"><span>Quản lý thuốc ARV</span></a></li>
                    <li><a th:href="${T(com.gms.components.UrlUtils).pqmDrugEstimate()}"><span>[[${title}]]</span></a></li>
                </ol>
            </section>
            <section class="content" ng-controller="pqm_drug" ng-init="init()">
                <div class="row">
                    <div class="col-lg-12 col-md-12" data-th-include="backend/layouts/widget-message :: widget-message" ></div>
<!--                    <div class="col-lg-12 col-md-12"  >
                        <div class="nav-tabs-custom margin-bottom-none">
                            <ul class="nav nav-tabs" >
                                <li class="active">
                                    <a th:href="${T(com.gms.components.UrlUtils).pqmDrugEstimate()}">Kế hoạch cung ứng thuốc</a>
                                </li>
                                <li class="">
                                    <a th:href="${T(com.gms.components.UrlUtils).pqmDrugPlan()}">Tình hình sử dụng thuốc</a>
                                </li>
                            </ul>
                        </div>
                    </div>-->
                </div>
                <div class="row">
                    <form th:action="${T(com.gms.components.UrlUtils).pqmDrugEstimate()}" method="get" id="search">
                        <div class="col-md-12">
                            <div class="box box-solid">
                                <div class="box-body">
                                    <div class="row">
                                        
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Năm</label>
                                                <select name="year" id="year" class="form-control">
                                                    <option th:each="n : ${years}" 
                                                            th:selected="${year != null ? #arrays.contains(year, n.key) : false}"

                                                            th:value="${n.key}" th:text="${n.value}"/>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Cơ sở</label>
                                                <select name="sites" id="sites" class="form-control">
                                                    <option th:each="n : ${siteMap}" 
                                                            th:selected="${sites != null ? #arrays.contains(sites, n.key) : false}"

                                                            th:value="${n.key}" th:text="${n.value}"/>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12 text-center" >
                                            <button type="submit" class="btn btn-primary">
                                                <i class="fa fa-search"></i> Tìm kiếm
                                            </button>
                                             <button ng-click="excel()" type="button" class="btn btn-primary margin-left-5">
                                                <i class="fa fa-file-excel-o"></i> Xuất Excel
                                            </button>
                                            <a th:href="${T(com.gms.components.UrlUtils).pqmDrugEstimate()}" 
                                               class="btn btn-default" ng-show="isQueryString" ng-cloak>
                                                <i class="fa fa-remove"></i> Bỏ lọc
                                            </a>
                                            <!--<a class="btn btn-primary" th:href="${T(com.gms.components.UrlUtils).pqmDrugEstimateImports()}" ><i class="fa fa-file-excel-o"></i> Nhập dữ liệu Excel</a>-->
                                            <!--<a class="btn btn-primary" href="/backend/pqm-drug-estimate/update-unit.html" ><i class="fa fa-update"></i> Cập nhật đơn vị tính từ tình hình sử dụng thuốc</a>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box box-default">
                                <div class="box-header with-border">
                                    <div class="no-margin pull-left">
                                    </div>
                                    <div class="no-margin pull-right" id="tableFunction">
                                       
                                    </div>
                                    <div class="clearfix"></div>
                                </div>    
                                <div class="box-body">
                                    <div ng-cloak ng-cloak-loading><i class="fa fa-sun-o fa-spin" ></i></div>
                                    <table ng-cloak class="table table-report table-striped table-bordered table-sm" >
                                        <thead>
                                            <tr class="success">
                                                <th class="text-center vertical-align-middle" rowspan="2" >STT</th>
                                                <th class="text-center vertical-align-middle"  rowspan="2" >Mã KCB	</th>
                                                <th class="text-center vertical-align-middle"  rowspan="2" >Cơ sở	</th>
                                                <th class="text-center vertical-align-middle"  rowspan="2" >Nguồn thuốc			</th>
                                                <th class="text-center vertical-align-middle"  rowspan="2" >Tên thuốc, hàm lượng</th>
                                                <th class="text-center vertical-align-middle"  rowspan="2" >Đơn vị tính		</th>
                                                <th class="text-center vertical-align-middle"  rowspan="2" >Dạng bào chế		</th>
                                                <th class="text-center vertical-align-middle"  rowspan="2" >Đường dùng		</th>
                                                <th class="text-center vertical-align-middle"  rowspan="2" >Ước tính tồn kho đầu năm			</th>
                                                <th class="text-center vertical-align-middle"  rowspan="2" >Ước tính sử dụng trong năm</th>
                                                <th class="text-center vertical-align-middle"  rowspan="2" >Ước tính tồn kho cuối năm</th>
                                                <th class="text-center vertical-align-middle"  rowspan="2" >Tổng nhu cầu</th>
                                                <th class="text-center vertical-align-middle"  colspan="4" >Nhu cầu phân bổ</th>
                                            </tr>
                                            <tr class="success">
                                                <th class="text-center vertical-align-middle"  >Quý I</th>
                                                <th class="text-center vertical-align-middle"  >Quý II</th>
                                                <th class="text-center vertical-align-middle"  >Quý III</th>
                                                <th class="text-center vertical-align-middle"  >Quý IV</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:if="${!#lists.isEmpty(dataPage.data)}" th:each="item,iter : ${dataPage.data}"
                                                th:class="${success_id != null && success_id == item.ID ? 'success' : '' }"
                                                th:data-id="${item.ID}">
                                                <td class="text-center">[[${iter.index + 1}]]</td>
                                                <td class="">[[${item.siteCode}]]</td>
                                                <td class="">[[${item.siteName}]]</td>
                                                <td class="">[[${item.source}]]</td>
                                                <td class="">[[${item.drugName}]]</td>
                                                <td class="">[[${item.unit}]]</td>
                                                <td class="">[[${item.packing}]]</td>
                                                <td class="">[[${item.howToUse}]]</td>
                                                <td class="text-center">[[${item.earlyEstimate}]]</td>
                                                <td class="text-center">[[${item.inEstimate}]]</td>
                                                <td class="text-center">[[${item.finalEstimate}]]</td>
                                                <td class="text-center">[[${item.exigencyTotal}]]</td>
                                                <td class="text-center">[[${item.exigency0}]]</td>
                                                <td class="text-center">[[${item.exigency1}]]</td>
                                                <td class="text-center">[[${item.exigency2}]]</td>
                                                <td class="text-center">[[${item.exigency3}]]</td>
                                            </tr>
                                            <tr th:if="${#lists.isEmpty(dataPage.data)}">
                                                <td colspan="16" class="text-center text-bold text-danger">Không có thông tin</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="box-footer clearfix">
                                    <div th:if="${dataPage.data.size() != 0  && dataPage.data != null}" class="no-margin pull-left">Trình bày <b th:utext="${((dataPage.currentPage - 1) * dataPage.maxResult) + 1}" ></b>-<b th:utext="${((dataPage.currentPage - 1) * dataPage.maxResult) + dataPage.data.size()}" ></b> trong số <b th:utext="${dataPage.totalRecords}" ></b> bản ghi.</div>
                                    <div class="no-margin pull-right">
                                        <div class="text-center" data-th-include="widget/gridview :: pagination(${dataPage.totalPages}, ${dataPage.navigationPages}, ${dataPage.currentPage})"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </body>
</html>