<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-layout-decorate="~{backend/layouts/main}">
    <head>
        <title th:text="${title}" ></title>
    </head>
    <body>
        <div class="content-wrapper" role="main" data-layout-fragment="content">
            <script th:inline="javascript" 
                    th:with="currenUser=${#request.userPrincipal.principal.user}, 
                    currentSite=${#request.userPrincipal.principal.site}">
                        var form = {};
                        var urlExcel = "/report/pqm-drug-plans/excel.html";
            </script>
            <section class="content-header">
                <h1>
                    <span>[[${title}]]</span>
                </h1>
                <ol class="breadcrumb">
                    <li><a th:href="${T(com.gms.components.UrlUtils).home()}"><i class="fa fa-dashboard"></i>Trang chủ</a></li>
                    <li><a th:href="${T(com.gms.components.UrlUtils).pqmDrugEstimate()}"><span>Quản lý thuốc ARV</span></a></li>
                    <li><a th:href="${T(com.gms.components.UrlUtils).pqmDrugPlan()}"><span>[[${title}]]</span></a></li>
                </ol>
            </section>
            <section class="content" ng-controller="pqm_drug" ng-init="init()">
                <div class="row">
                    <div class="col-lg-12 col-md-12" data-th-include="backend/layouts/widget-message :: widget-message" ></div>
<!--                    <div class="col-lg-12 col-md-12"  >
                        <div class="nav-tabs-custom margin-bottom-none">
                            <ul class="nav nav-tabs" >
                                 <li class="">
                                    <a th:href="${T(com.gms.components.UrlUtils).pqmDrugEstimate()}">Kế hoạch cung ứng thuốc</a>
                                </li>
                                <li class="active">
                                    <a th:href="${T(com.gms.components.UrlUtils).pqmDrugPlan()}">Tình hình sử dụng thuốc</a>
                                </li>
                            </ul>
                        </div>
                    </div>-->
                </div>
                <div class="row">
                    <form th:action="${T(com.gms.components.UrlUtils).pqmDrugPlan()}" method="get" id="search">
                        <div class="col-md-12">
                            <div class="box box-solid">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Tháng</label>
                                                <select name="month" id="month" class="form-control">
                                                    <option th:each="n : ${months}" 
                                                            th:selected="${month != null ? #arrays.contains(month, n.key) : false}"

                                                            th:value="${n.key}" th:text="${n.value}"/>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Năm</label>
                                                <select name="year" id="year" class="form-control">
                                                    <option th:each="n : ${years}" 
                                                            th:selected="${year != null ? #arrays.contains(year, n.key) : false}"

                                                            th:value="${n.key}" th:text="${n.value}"/>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Cơ sở</label>
                                                <select name="sites" id="sites" class="form-control">
                                                    <option th:each="n : ${siteMap}" 
                                                            th:selected="${sites != null ? #arrays.contains(sites, n.key) : false}"

                                                            th:value="${n.key}" th:text="${n.value}"/>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12 text-center"  >
                                            <button type="submit" class="btn btn-primary">
                                                <i class="fa fa-search"></i> Tìm kiếm
                                            </button>
                                            <button ng-click="excel()" type="button" class="btn btn-primary margin-left-5">
                                                <i class="fa fa-file-excel-o"></i> Xuất Excel
                                            </button>
<!--                                            <a th:href="${T(com.gms.components.UrlUtils).pqmDrugPlan()}" 
                                               class="btn btn-default" ng-show="isQueryString" ng-cloak>
                                                <i class="fa fa-remove"></i> Bỏ lọc
                                            </a>-->
                                            <!--<a class="btn btn-primary" th:href="${T(com.gms.components.UrlUtils).pqmDrugPlanImports()}" ><i class="fa fa-file-excel-o"></i> Nhập dữ liệu Excel</a>-->
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="box box-default">
                                <div class="box-header with-border">
                                    <div class="no-margin pull-left">
                                    </div>
                                    <div class="no-margin pull-right" id="tableFunction">
                                        
                                    </div>
                                    <div class="clearfix"></div>
                                </div>    
                                <div class="box-body">
                                    <div ng-cloak ng-cloak-loading><i class="fa fa-sun-o fa-spin" ></i></div>
                                    <table ng-cloak class="table table-report table-striped table-bordered table-sm" data-scrollY="auto" style="width: 100%">
                                        <thead>
                                            <tr class="success">
                                                <th class="text-center vertical-align-middle" rowspan="2" >STT</th>
                                                <th class="text-center vertical-align-middle"  rowspan="2" >Mã KCB	</th>
                                                <th class="text-center vertical-align-middle"  rowspan="2" >Cơ sở	</th>
                                                <th class="text-center vertical-align-middle"  rowspan="2" >Nguồn thuốc			</th>
                                                <th class="text-center vertical-align-middle"  rowspan="2" >Tên thuốc, hàm lượng, đường dùng, dạng bào chế			</th>
                                                <th class="text-center vertical-align-middle"  rowspan="2" >Quy cách đóng gói			</th>
                                                <th class="text-center vertical-align-middle"  rowspan="2" >Đơn vị tính			</th>
                                                <th class="text-center vertical-align-middle"  rowspan="2" >Số lô			</th>
                                                <th class="text-center vertical-align-middle"  rowspan="2" >Hạn sử dụng		</th>
                                                <th class="text-center vertical-align-middle"  colspan="6" >Số lượng		</th>
                                            </tr>
                                            <tr class="success">
                                                <th class="text-center vertical-align-middle" style="width:5%">Tồn đầu kỳ	</th>
                                                <th class="text-center vertical-align-middle" style="width:5%">Nhập trong kỳ	</th>
                                                <th class="text-center vertical-align-middle" style="width:5%">Xuất cho bệnh nhân trong kỳ	</th>
                                                <th class="text-center vertical-align-middle" style="width:5%">Xuất điều chuyển trong kỳ	</th>
                                                <th class="text-center vertical-align-middle" style="width:5%">Hư hao	</th>
                                                <th class="text-center vertical-align-middle" style="width:5%">Tồn cuối kỳ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:if="${#lists.isEmpty(dataPage.data)}"> 
                                                <td colspan="15" class="text-bold text-center text-danger">Không có thông tin</td>
                                            </tr>
                                            <tr th:each="item,iter : ${dataPage.data}"
                                                th:class="${success_id != null && success_id == item.ID ? 'success' : '' }"
                                                th:data-id="${item.ID}" th:if="${!#lists.isEmpty(dataPage.data)}">
<!--                                                <td class="text-center">
                                                    <input type="checkbox" class="checkbox-switch" th:value="${item.ID}" />
                                                </td>-->
                                                <td class="text-center">[[${iter.index + 1}]]</td>
                                                <td class="text-center">[[${item.siteCode}]]</td>
                                                <td class="">[[${item.siteName}]]</td>
                                                <td class="text-center">[[${item.source}]]</td>
                                                <td class="">[[${item.drugName}]]</td>
                                                <td class="text-center">[[${item.packing}]]</td>
                                                <td class="text-center">[[${item.unit}]]</td>
                                                <td class="text-center">[[${item.lotNumber}]]</td>
                                                <td class="text-center">[[${item.expiryDate}]]</td>
                                                <td class="text-center">[[${item.beginning}]]</td>
                                                <td class="text-center">[[${item.inThePeriod}]]</td>
                                                <td class="text-center">[[${item.patient}]]</td>
                                                <td class="text-center">[[${item.transfer}]]</td>
                                                <td class="text-center">[[${item.loss}]]</td>
                                                <td class="text-center">[[${item.ending}]]</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="box-footer clearfix">
                                    <div th:if="${dataPage.data.size() != 0  && dataPage.data != null}" class="no-margin pull-left">Trình bày <b th:utext="${((dataPage.currentPage - 1) * dataPage.maxResult) + 1}" ></b>-<b th:utext="${((dataPage.currentPage - 1) * dataPage.maxResult) + dataPage.data.size()}" ></b> trong số <b th:utext="${dataPage.totalRecords}" ></b> bản ghi.</div>
                                    <div class="no-margin pull-right">
                                        <div class="text-center" data-th-include="widget/gridview :: pagination(${dataPage.totalPages}, ${dataPage.navigationPages}, ${dataPage.currentPage})"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </body>
</html>