<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-layout-decorate="~{backend/layouts/main}">
    <head>
        <title th:utext="${title}" ></title>
    </head>
    <body>
        <div class="content-wrapper" role="main" data-layout-fragment="content">
            <script th:inline="javascript" 
                    th:with="currenUser=${#request.userPrincipal.principal.user}, 
                    currentSite=${#request.userPrincipal.principal.site}">
                        var items = [[${
                        form.items
                        }
                        ]];
                        var formUpdate = [[${
                        formUpdate
                        }
                        ]];
                        var pOptions = [[${options}
                        ]];
                        var current_user_name = [[${currenUser.name}
                        ]];
                        var province_id = [[${currentSite.provinceID}
                        ]];
                        var district_id = [[${currentSite.districtID}
                        ]];
                        var ward_id = [[${currentSite.wardID}
                        ]];
                        var urlHub = "/service/pqm-site/update.json";
            </script>
            <section class="content-header">
                <h1>
                    <span th:text="${title}" ></span>
                </h1>
                <ol class="breadcrumb">
                    <li><a th:href="${T(com.gms.components.UrlUtils).home()}"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
                    <li>
                        <a th:href="${T(com.gms.components.UrlUtils).pqmSiteIndex()}"  ><span th:text="${title}" ></span></a>
                    </li>
                </ol>
            </section>
            <section class="content" ng-controller="qpm_site" ng-init="init()">  
                <div class="row">
                    <div class="col-lg-12 col-md-12" data-th-include="backend/layouts/widget-message :: widget-message" ></div>
                </div>
                <div class="row">
                    <form >
                        <div class="col-lg-12 col-md-12">
                            <div class="box box-default box-solid">
                                <div class="box-header with-border">
                                    <h4 class="box-title">
                                        Danh sách
                                    </h4>
                                </div>
                                <div class="box-body">
                                    <!--<input type="hidden" name="ID" th:field="${form.ID}" th:id="${form.ID}" >-->
                                    <table class="table table-striped table-bordered table-sm"
                                           data-scrollY="auto" ng-cloak>
                                        <thead>
                                            <tr>
                                                <th class="text-center vertical-align-middle success">Mã cơ sở</th>
                                                <th class="text-center vertical-align-middle success">Tên cơ sở</th>
                                                <th class="text-center vertical-align-middle success">Mã tỉnh</th>
                                                <th class="text-center vertical-align-middle success">Mã huyện</th>
                                                <th class="text-center vertical-align-middle success">Dịch vụ</th>
                                                <th class="text-center vertical-align-middle success">Phương thức nhập liệu</th>
                                                <th class="text-center vertical-align-middle success">Mã cơ sở HUB</th>
                                                <th class="text-center vertical-align-middle success">Mã cơ sở tại tỉnh</th>
                                                <th class="text-center vertical-align-middle success">Mã cơ sở ELOG</th>
                                                <th class="text-center vertical-align-middle success">Mã cơ sở ARV</th>
                                                <th class="text-center vertical-align-middle success">Mã cơ sở PREP</th>
                                                <th class="text-center vertical-align-middle success">Mã cơ sở HMED</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="item, iter : ${form.items}" class="x">
                                                <td class="text-center" >
                                                    <span th:text="${'#' + item.ID}"></span>
                                                    <input type="hidden"  name="id" th:value="${item.ID}" />
                                                </td>
                                                <td class="" ><span th:text="${item.name}"></span></td>
                                                <td class="" ><span th:text="${item.province}"></span></td>
                                                <td class="" ><span th:text="${item.district}"></span></td>
                                                <td class="text-center" ><span th:text="${item.service}"></span></td>
                                                <td class="text-center" >
                                                    <select name="hub" th:id="${item.ID  + 'hub'}" class="form-control">
                                                        <option th:each="o : ${getHubOptions}"
                                                                th:utext="${o.value}"
                                                                th:value="${o.key}"></option>
                                                    </select>
                                                </td>
                                                <td class="text-center" >
                                                    <input maxlength="99" th:id="${item.ID  + 'hubSiteCode'}" name="hubSiteCode" type="text" class="form-control" />
                                                    <small class="text-danger text-left" th:id="${'y' + item.ID}"  ></small>
                                                </td>
                                                <td class="text-center" >
                                                    <input maxlength="99" th:id="${item.ID  + 'pqmSiteCode'}" name="pqmSiteCode" type="text" class="form-control" />
                                                    <small class="text-danger" th:id="${'x' + item.ID}"  ></small>
                                                </td>
                                                
                                                
                                                <td class="text-center" >
                                                    <input maxlength="99" th:id="${item.ID  + 'elogSiteCode'}" name="elogSiteCode" type="text" class="form-control" />
                                                    <small class="text-danger" th:id="${'x' + item.ID}"  ></small>
                                                </td>
                                                <td class="text-center" >
                                                    <input maxlength="99" th:id="${item.ID  + 'arvSiteCode'}" name="arvSiteCode" type="text" class="form-control" />
                                                    <small class="text-danger" th:id="${'x' + item.ID}"  ></small>
                                                </td>
                                                <td class="text-center" >
                                                    <input maxlength="99" th:id="${item.ID  + 'prepSiteCode'}" name="prepSiteCode" type="text" class="form-control" />
                                                    <small class="text-danger" th:id="${'x' + item.ID}"  ></small>
                                                </td>
                                                <td class="text-center" >
                                                    <input maxlength="99" th:id="${item.ID  + 'hmedSiteCode'}" name="hmedSiteCode" type="text" class="form-control" />
                                                    <small class="text-danger" th:id="${'x' + item.ID}"  ></small>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>


                                    <div class="row">
                                        <div class="col-md-4">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer text-center navbar-fixed-bottom main-footer " >
                                <button class="btn btn-primary" ng-click="ok()">
                                    <i   class="fa fa-edit" ></i> 
                                    Cập nhật
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </body>
</html>
