<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-layout-decorate="~{backend/layouts/main}">
    <head>
        <title th:text="${title}" ></title>
    </head>
    <body>
        <div class="content-wrapper" role="main" data-layout-fragment="content">
            <section class="content-header">
                <h1>
                    <span th:text="${title}" ></span>

                </h1>
                <ol class="breadcrumb">
                    <li><a th:href="${T(com.gms.components.UrlUtils).home()}"><i class="fa fa-dashboard"></i>Trang chủ</a></li>
                    <li><a th:href="${T(com.gms.components.UrlUtils).feedbackIndex()}" th:text="${title}" ></a></li>
                </ol>
            </section>
            <section class="content" ng-controller="feedBack" ng-init="init()" >
                <div class="row">
                    <div class="col-lg-12 col-md-12" data-th-include="backend/layouts/widget-message :: widget-message" ></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Danh sách góp ý</h3>
                            </div>    
                            <div class="box-body">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr class="text-center vertical-align-middle success">
                                            <th class="text-center">Cán bộ gửi</th>
                                            <th class="text-center">Nội dung</th>
                                            <th class="text-center" style="width: 120px">Trạng thái</th>
                                            <th class="text-center" style="width: 120px">Chức năng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:if="${dataPage.data.size() == 0}" >
                                            <th colspan="4" class="text-red text-center" >Không tìm thấy góp ý nào</th>
                                        </tr>
                                        <tr th:if="${dataPage.data.size() != 0}" th:each="item : ${dataPage.data}">
                                            <td>
                                                <i class="fa fa-user"></i> <span th:text="${item.name}"></span>
                                                <br/><i class="fa fa-inbox"></i> <span th:text="${item.sendEmail}"></span>
                                                <br/><i class="fa fa-phone"></i> <span th:text="${item.sendPhone}"></span>
                                            </td>
                                            <td>
                                                <b>Cơ sở:</b> <span th:text="${siteOptions.get(item.siteID) == null ? '--' : siteOptions.get(item.siteID)}"></span>
                                                <br/><b>Nội dung:</b> <span th:utext="${item.content}"></span>
                                                <br/><b>Ngày gửi:</b> <span th:text="${#dates.format(item.createAT, 'HH:mm dd/MM/yyyy')}"></span>
                                            </td>
                                            <td class="text-center"><span th:text="${item.status}"></span></td>
                                            <td class="text-center">
                                                <a th:href="${T(com.gms.components.UrlUtils).feedbackDetail(item.ID)}" class="btn btn-primary btn-xs"
                                                   th:data-role="${T(com.gms.components.UrlUtils).feedbackDetail(item.ID)}">
                                                    <i class="fa fa-edit"></i> Xem
                                                </a>
                                                <a class="btn btn-danger btn-xs" th:href="${T(com.gms.components.UrlUtils).feedbackRemove(item.ID)}" 
                                                   data-confirm="Bạn chắc chắn muốn bỏ qua góp ý này?"
                                                   th:data-role="${T(com.gms.components.UrlUtils).feedbackRemove(item.ID)}">
                                                    <i class="fa fa-remove"></i> Xoá
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="box-footer clearfix" th:if="${dataPage.data.size() != 0}">
                                <div  class="no-margin pull-left">Trình bày <b th:utext="${((dataPage.currentPage - 1) * dataPage.maxResult) + 1}" ></b>-<b th:utext="${dataPage.currentPage * dataPage.data.size()}" ></b> trong số <b th:utext="${dataPage.totalRecords}" ></b> mục.</div>
                                <div class="no-margin pull-right">
                                    <div class="text-center" data-th-include="widget/gridview :: pagination(${dataPage.totalPages}, ${dataPage.navigationPages}, ${dataPage.currentPage})"></div>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </body>
</html>