<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-layout-decorate="~{backend/layouts/main}">
    <head>
        <title th:text="${title}" ></title>
    </head>
    <body>
        <div class="content-wrapper" role="main" data-layout-fragment="content"
             th:with="tab=${#request.getParameter('tab') == '' ? null : #request.getParameter('tab')}">
            <section class="content-header">
                <h1>
                    <span th:text="${title}" ></span>
                </h1>
                <ol class="breadcrumb">
                    <li><a th:href="${T(com.gms.components.UrlUtils).home()}"><i class="fa fa-dashboard"></i>Trang chủ</a></li>
                    <li><a th:href="${T(com.gms.components.UrlUtils).opcArvIndex()}"><span th:text="${parent_title}" ></span></a></li>
                    <li><a th:href="${T(com.gms.components.UrlUtils).opcReceiveIndex()}"><span th:text="${title}" ></span></a></li>
                </ol>
            </section>
            <section class="content" ng-controller="opc_receive_index" ng-init="init()">
                <script th:inline="javascript">
                    var urlGetFeedback = '/service/opc-arv/get-feedback.json';
                    var form = {
                            permanent_district_id: [[${#httpServletRequest.getParameter('permanent_district_id')}]],
                            permanent_ward_id: [[${#httpServletRequest.getParameter('permanent_ward_id')}]],
                            permanent_province_id: [[${#httpServletRequest.getParameter('permanent_province_id')}]]
                    };
                </script>
                <div class="row">
                    <div class="col-lg-12 col-md-12" data-th-include="backend/layouts/widget-message :: widget-message" ></div>
                </div>
                <div class="row">
                    <form th:action="${T(com.gms.components.UrlUtils).opcReceiveIndex()}" method="get">
                        <input type="hidden" name="tab" th:value="${#request.getParameter('tab')}" />
                        <div class="col-md-12">
                            <div class="nav-tabs-custom margin-bottom-none">
                                <ul class="nav nav-tabs">
                                    <li th:class="${#request.getParameter('tab') == null || #request.getParameter('tab') == '' || #request.getParameter('tab') == 'null' || #request.getParameter('tab') == 'all' ? 'active' : ''}">
                                        <a th:href="${T(com.gms.components.UrlUtils).opcReceiveIndex()}">Tất cả</a>
                                    </li>
                                    <li th:class="${#request.getParameter('tab') == 'not' ? 'active' : ''}">
                                        <a th:href="${T(com.gms.components.UrlUtils).opcReceiveIndex() + '?tab=not'}">Chưa tiếp nhận</a>
                                    </li>
                                    <li th:class="${#request.getParameter('tab') == 'receiced' ? 'active' : ''}">
                                        <a th:href="${T(com.gms.components.UrlUtils).opcReceiveIndex() + '?tab=receiced'}">Đã tiếp nhận</a>
                                    </li>
                                    <li th:class="${#request.getParameter('tab') == 'remove' ? 'active' : ''}">
                                        <a th:href="${T(com.gms.components.UrlUtils).opcReceiveIndex() + '?tab=remove'}">Đã xóa</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="box box-solid">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Mã bệnh án</label>
                                                <input type="text" class="form-control" th:text="${code}" name = "code" th:value="${#httpServletRequest.getParameter('code')}">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Họ và tên</label>
                                                <input type="text" class="form-control" th:text="${name}" name = "name" th:value="${#httpServletRequest.getParameter('name')}">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Mã XN khẳng định</label>
                                                <input type="text" class="form-control" th:text="${confirm_code}" name = "confirm_code" th:value="${#httpServletRequest.getParameter('confirm_code')}">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Ngày XN khẳng định</label>
                                                <input type="text" class="form-control" name = "confirm_time" 
                                                       ui-mask="99/99/9999" 
                                                       placeholder="dd/mm/yyyy"
                                                       ng-model="confirm_time"/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Ngày chuyển gửi</label>
                                                <input type="text" class="form-control" name = "tranfer_time" 
                                                       ui-mask="99/99/9999" 
                                                       placeholder="dd/mm/yyyy"
                                                       ng-model="tranfer_time" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Cơ sở chuyển gửi</label>
                                                <select class="form-control" name="source_site_id" id="source_site_id">
                                                    <option th:each="instance : ${options.get('siteOpcTo')}" 
                                                            th:value="${instance.key}" 
                                                            th:selected="${#httpServletRequest.getParameter('source_site_id') == instance.key}"
                                                            th:utext="${instance.key == '' ? 'Tất cả' :instance.value}" ></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3" th:if="${tab != 'not' && tab != 'receiced' && tab != 'remove'}">
                                            <div class="form-group">
                                                <label>Trạng thái</label>
                                                <select class="form-control" name="status" id="status">
                                                    <option th:each="instance : ${statusOptions}" 
                                                            th:value="${instance.key}" 
                                                            th:selected="${#httpServletRequest.getParameter('status') == instance.key}"
                                                            th:utext="${instance.key == '' ? 'Tất cả' :instance.value}" ></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12 text-center" >
                                            <button type="submit" class="btn btn-primary">
                                                <i class="fa fa-search"></i> Tìm kiếm
                                            </button>
                                            <a th:href="${T(com.gms.components.UrlUtils).opcReceiveIndex(tab)}" 
                                               class="btn btn-default" ng-show="isQueryString" ng-cloak>
                                                <i class="fa fa-remove"></i> Bỏ lọc
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box box-default" ng-cloak>
                                <div class="box-header with-border">

                                    <div class="no-margin pull-right" id="tableFunction">
                                        <a class="btn btn-default btn-xs disabled">
                                            <i class="fa fa-eye"></i> Xem
                                        </a>
                                        <a class="btn btn-default btn-xs disabled" href="javascript:;">
                                            <i class="fa fa-edit"></i> Sửa
                                        </a>

                                        <a class="btn btn-danger btn-xs disabled" href="javascript:;">
                                            <i class="fa fa-remove"></i> Xoá
                                        </a>
                                        <button type="button" class="btn btn-default btn-xs disabled">
                                            <i class="fa fa-comment"></i>
                                            Lịch sử
                                        </button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>    
                                <div class="box-body">
                                    <table class="table table-bordered table-sm table-full"  
                                           data-scrollY="auto" data-rightColumns="0" data-leftColumns="0">
                                        <thead>
                                            <tr class="text-center vertical-align-middle success">
                                                <th class="text-center">
                                                    <input type="checkbox" id="checkbox-switch-all" />
                                                </th>
                                                <th class="text-center">Mã bệnh án</th>
                                                <th class="text-center">Họ và tên</th>
                                                <th class="text-center">Ngày sinh</th>
                                                <th class="text-center">Giới tính</th>
                                                <th class="text-center">Số CMND</th>
                                                <th class="text-center">Số thẻ BHYT</th>
                                                <th class="text-center">Địa chỉ thường trú</th>
                                                <th class="text-center">Địa chỉ hiện tại</th>
                                                <th class="text-center">Mã XN khẳng định</th>
                                                <th class="text-center">Ngày XN khẳng định</th>
                                                <th class="text-center">Nơi XN khẳng định</th>
                                                <th class="text-center">Ngày chuyển gửi</th>
                                                <th class="text-center">Cơ sở chuyển gửi</th>
                                                <th class="text-center" th:if="${tab != 'not' && tab != 'receiced' && tab != 'remove'}">Trạng thái</th>
                                                <th class="text-center" th:if="${tab != 'not' && tab != 'remove'}">Ngày tiếp nhận</th>
                                                <th class="text-center" th:if="${tab != 'not' && tab != 'remove'}">Ngày phản hồi</th>
                                                <th class="text-center">Chức năng</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="item : ${dataPage.data}" 
                                                th:with="days=${T(java.util.concurrent.TimeUnit).DAYS}, millis=${T(java.util.concurrent.TimeUnit).MILLISECONDS}" 
                                                th:class="${success_id != null && success_id == item.ID ? 'success' : item.tranferToTimeOpc == null ? (item.tranferFromTime != null && days.convert(#dates.createNow().getTime() - item.tranferFromTime.getTime(), millis) >= 20 ? 'danger' : '') : 'info'}"
                                                th:data-id="${item.ID}"
                                                th:data-code="${item.code}">
                                                <td class="text-center"><input type="checkbox" class="checkbox-switch" th:value="${item.ID}" /></td>
                                                <td class="text-center"><span th:text="${item.code}"></span></td>
                                                <td class=""><span th:text="${item.patient != null ? item.patient.fullName : ''}"></span></td>
                                                <td class="text-center"><span th:text="${item.patient != null && item.patient.dob != null ? #dates.format(item.patient.dob, 'dd/MM/yyyy') : ''}"></span></td>
                                                <td class="text-center"><span th:text="${item.patient == null || item.patient.genderID == null || item.patient.genderID == '' ? '' : options.get(T(com.gms.entity.db.ParameterEntity).GENDER).get(item.patient.genderID)}"></span></td>
                                                <td class="text-center"><span th:text="${item.patient != null && item.patient.identityCard != null ? item.patient.identityCard : ''}"></span></td>
                                                <td class="text-center"><span th:text="${item.insuranceNo}"></span></td>
                                                <td class=""><span th:text="${item.permanentAddressFull}"></span></td>
                                                <td class=""><span th:text="${item.currentAddressFull}"></span></td>
                                                <td class="text-center"><span th:text="${item.patient.confirmCode}"></span></td>
                                                <td class="text-center"><span th:text="${#dates.format(item.patient.confirmTime, 'dd/MM/yyyy')}"></span></td>
                                                <td class=""><span th:text="${item.patient.confirmSiteID  == -1 ? item.patient.confirmSiteName : options.get('siteConfirm').get(item.patient.confirmSiteID + '')}"></span></td>
                                                <td class="text-center"><span th:text="${#dates.format(item.tranferFromTime, 'dd/MM/yyyy')}"></span></td>
                                                <td class=""><span th:text="${item.siteID == null || item.siteID == '' ? '' : options.get('siteOpcTo').get(item.siteID + '')}"></span></td>
                                                <td class="text-center" th:if="${tab != 'not' && tab != 'receiced' && tab != 'remove'}"><span th:text="${item.tranferToTimeOpc == null ? 'Chưa tiếp nhận' : 'Đã tiếp nhận'}"></span></td>
                                                <td class="text-center" th:if="${tab != 'not' && tab != 'remove'}"><span th:text="${#dates.format(item.tranferToTimeOpc, 'dd/MM/yyyy')}"></span></td>
                                                <td class="text-center" th:if="${tab != 'not' && tab != 'remove'}"><span th:text="${#dates.format(item.feedbackResultsReceivedTimeOpc, 'dd/MM/yyyy')}"></span></td>
                                                <td class="text-right" >
                                                    <button type="button" 
                                                            th:if="${tab != 'remove' && item.tranferToTimeOpc != null && item.feedbackResultsReceivedTimeOpc != null}" 
                                                            th:attr="ng-click='print('+${item.ID}+')'"
                                                            class="btn btn-primary btn-xs table-function" >
                                                        <i class="fa fa-print"></i>
                                                        In phiếu phản hồi
                                                    </button>
                                                    <button type="button" 
                                                            th:if="${tab != 'remove' && item.tranferToTimeOpc != null && item.feedbackResultsReceivedTimeOpc == null}" 
                                                            th:attr="ng-click='feedbackReceive('+${item.ID}+', 103, 0)'"
                                                            class="btn btn-primary btn-xs table-function" >
                                                        <i class="fa fa-check"></i>
                                                        Phản hồi tiếp nhận
                                                    </button>
                                                    <a class="btn btn-primary btn-xs table-function" th:if="${tab != 'remove' && tab != 'received' && (item.tranferToTimeOpc == null  || item.tranferToTimeOpc == '' )}"
                                                       th:href="${T(com.gms.components.UrlUtils).opcReceiveNew() + '?opc_id=' + item.ID}" >
                                                        <i class="fa fa-edit"></i> Tiếp nhận
                                                    </a>
                                                    <a class="btn btn-default btn-xs table-function" th:if="${tab != 'remove'}"  
                                                       th:href="${T(com.gms.components.UrlUtils).opcReceiveView(item.ID, tab)}"
                                                       th:data-role="${T(com.gms.components.UrlUtils).opcReceiveView(item.ID, tab)}">
                                                        <i class="fa fa-eye"></i> Xem
                                                    </a>

                                                    <a class="btn btn-danger btn-xs table-function" th:if="${tab != 'remove' && tab != 'received' && (item.tranferToTimeOpc == null  || item.tranferToTimeOpc == '' )}" 
                                                       th:href="${T(com.gms.components.UrlUtils).opcReceiveRemove(item.ID)}" 
                                                       th:data-role="${T(com.gms.components.UrlUtils).opcReceiveRemove(item.ID)}" 
                                                       data-confirm="Bạn chắc chắn muốn xóa bệnh nhân này?">
                                                        <i class="fa fa-remove"></i> Xoá
                                                    </a>
                                                    <a class="btn btn-primary btn-xs table-function" th:if="${tab == 'remove'}" 
                                                       th:href="${T(com.gms.components.UrlUtils).opcReceiveRestore(item.ID)}" 
                                                       th:data-role="${T(com.gms.components.UrlUtils).opcReceiveRestore(item.ID)}" 
                                                       data-confirm="Bạn chắc chắn muốn khôi phục bệnh nhân này?">
                                                        <i class="fa  fa-undo"></i> Khôi phục
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="box-footer clearfix">
                                    <div data-th-include="widget/gridview :: pagination-title(dataPage=${dataPage})" ></div>
                                    <div class="no-margin pull-right">
                                        <div class="text-center" data-th-include="widget/gridview :: pagination(${dataPage.totalPages}, ${dataPage.navigationPages}, ${dataPage.currentPage})"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div id="table-comment" th:if="${dataPage.data != null}" >Chú thích màu: <label class="label label-info" >Đã tiếp nhận</label>&nbsp;<label class="label label-danger" >Quá 20 ngày chưa tới cơ sở để tiếp nhận</label></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
            <div data-th-include="backend/opc_arv/widget :: opc-arv-feedback_receive()" ></div>
        </div>
    </body>
</html>