<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-layout-decorate="~{backend/layouts/main}">
    <head>
        <title th:utext="${title}" ></title>
        <style>
            .notifyListTD{
                max-width: 200px !important;
            }
            .wrap {
                word-break: break-word;
            }
            .min-width-150{
                min-width: 200px;
            }
            .max-width-150{
                max-width: 200px;
            }
        </style>
    </head>
    <body>
        <div class="content-wrapper" role="main" data-layout-fragment="content">
            <script th:inline="javascript" 
                    th:with="currenUser=${#request.userPrincipal.principal.user}, 
                    currentSite=${#request.userPrincipal.principal.site}">
                        var form = [[${form}]];
                        var urlVisitNew = [[${ T(com.gms.components.UrlUtils).opcArvVisitNew(arv.ID)}]];
                        var arv = [[${arv}]];
                        var feedback = [[${feedback}]];
                        var isARV = [[${isARV}]];
                        var isOpcManager = [[${isOpcManager}]];
                        var pOptions = [[${options}]];
                        var province_id = [[${currentSite.provinceID}]];
                        var district_id = [[${currentSite.districtID}]];
                        var ward_id = [[${currentSite.wardID}]];
                        var options = [[${options}]];
            </script>
            <section class="content-header">
                <h1>
                    <a th:href="${T(com.gms.components.UrlUtils).opcVisit(arv.ID, 'all')}" 
                       th:data-role="${T(com.gms.components.UrlUtils).opcVisit(arv.ID, 'all')}"
                       data-confirm="Bạn chắc chắn muốn hủy ?"
                       class="btn btn-default" ><i class="fa fa-backward"></i> Quay lại</a>
                       
                    <span>Bệnh án</span>
                    <b th:text="${' #' + arv.code}" class="text-danger text-uppercase" ></b>
                    <small th:text="${title}" ></small>
                </h1>
                <ol class="breadcrumb">
                    <li><a th:href="${T(com.gms.components.UrlUtils).home()}"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
                    <li><a th:href="${T(com.gms.components.UrlUtils).opcArvIndex()}">Điều trị ngoại trú</a></li>
                    <li>
                        <a th:href="${form.ID == null || form.ID == '' ? T(com.gms.components.UrlUtils).opcArvVisitNew(arv.ID) : T(com.gms.components.UrlUtils).opcArvVisitUpdate(arv.ID, visit.ID)}"  ><span th:utext="${smallTitle}"></span></a>
                    </li>
                </ol>
            </section>
            <section class="content" ng-controller="visit_new" ng-init="init()">
                <div class="row">
                    <div class="col-lg-12 col-md-12" data-th-include="backend/layouts/widget-message :: widget-message" ></div>
                    <div class="col-lg-12 col-md-12" data-th-include="backend/opc_arv/widget :: opc-tab('visit', ${arv.ID})" ></div>
                </div>
                <div class="row">
                    <form th:action="${form.ID == null || form.ID == '' ? T(com.gms.components.UrlUtils).opcArvVisitNew(arv.ID) : T(com.gms.components.UrlUtils).opcArvVisitUpdate(arv.ID, visit.ID)}" 
                          th:object="${form}" 
                          method="post"
                          name="visit_form"
                          id="visit_form"
                          ng-enter="add()" 
                          ng-submit="register(visit_form, $event)"
                          ng-validate="validationOptions">

                        <div data-th-replace="widget/form :: input-hidden('baseTreatmentRegimenStage')"></div>
                        <div data-th-replace="widget/form :: input-hidden('baseTreatmentRegimenID')"></div>
                        <div data-th-replace="widget/form :: input-hidden('treatmentTime')"></div>
                        <div data-th-replace="widget/form :: input-hidden('registrationTime')"></div>
                        <div data-th-replace="widget/form :: input-hidden('statusOfTreatmentID')"></div>
                        <div data-th-replace="widget/form :: input-hidden('endTime')"></div>
                        <div data-th-replace="widget/form :: input-hidden('isPrinted')"></div>
                        <!--<div data-th-replace="widget/form :: input-hidden('ID')"></div>-->
                        <div class="col-lg-12 col-md-12">
                            <div class="box box-default box-solid">
                                <div class="box-header with-border">
                                    <h4 class="box-title">
                                        Thông tin lượt khám
                                    </h4>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div data-th-replace="widget/form :: select('Giai đoạn điều trị:', 'stageID', true, ${options.get('treatment-stage')}, '')"></div>
                                        </div>
                                        <div class="col-md-3">
                                            <div data-th-replace="widget/form :: select('BN có thẻ BHYT:', 'insurance', true, ${options.get(T(com.gms.entity.db.ParameterEntity).HAS_HEALTH_INSURANCE)}, '')"></div>
                                        </div>
                                        <div class="col-md-3">
                                            <div data-th-replace="widget/form :: input-text('Số thẻ BHYT:', 'insuranceNo', false, '', '')"></div>
                                        </div>
                                        <div class="col-md-3">
                                            <div data-th-replace="widget/form :: select('Loại thẻ BHYT:', 'insuranceType', false, ${options.get(T(com.gms.entity.db.ParameterEntity).INSURANCE_TYPE)}, '')"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div data-th-replace="widget/form :: input-text('Nơi ĐK KCB ban đầu:', 'insuranceSite', false, '', '')"></div>
                                        </div>
                                        <div class="col-md-3">
                                            <div data-th-replace="widget/form :: input-date-model('Ngày hết hạn thẻ BHYT:', 'insuranceExpiry', false, 'dd/mm/yyyy', 'Định dạng nhập: Ngày/tháng/năm')"></div>
                                        </div>
                                        <div class="col-md-3">
                                            <div data-th-replace="widget/form :: select('Tỷ lệ thanh toán BHYT(%):', 'insurancePay', false, ${options.get(T(com.gms.entity.db.ParameterEntity).INSURANCE_PAY)}, '')"></div>
                                        </div>
                                        <div class="col-md-3">
                                            <div data-th-replace="widget/form :: select('Tuyến đăng ký bảo hiểm:', 'route', false, ${options.get(T(com.gms.entity.db.ParameterEntity).ROUTE)}, '')"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div data-th-replace="widget/form :: input-date-model('Ngày khám:', 'lastExaminationTime', true, 'dd/mm/yyyy', 'Định dạng nhập: Ngày/tháng/năm')"></div>
                                        </div>
                                        <div class="col-md-3" >
                                            <div class="form-group">
                                                <label>Bậc phác đồ hiện tại: </label>
                                                <select ng-model="treatmentRegimenStage"  ng-change="treatmentRegimenStageChange()"
                                                        name="treatmentRegimenStage" id="treatmentRegimenStage"
                                                        ng-options="key as value for (key , value) in options['treatment-regimen-stage']"
                                                        class="form-control">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div data-th-replace="widget/gridview :: select-model('Phác đồ hiện tại:', 'treatmentRegimenID', false, ${options.get(T(com.gms.entity.db.ParameterEntity).TREATMENT_REGIMEN)}, '')"></div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div data-th-replace="widget/form :: input-date-model('Ngày thay đổi bậc phác đồ:', 'regimenStageDate', false, 'dd/mm/yyyy', 'Định dạng nhập: Ngày/tháng/năm')"></div>
                                        </div>
                                        <div class="col-md-3">
                                            <div data-th-replace="widget/form :: input-date-model('Ngày thay đổi phác đồ:', 'regimenDate', false, 'dd/mm/yyyy', 'Định dạng nhập: Ngày/tháng/năm')"></div>
                                        </div>
                                        <div class="col-md-3" >
                                            <div class="form-group">
                                                <label>
                                                    Bậc phác đồ cũ: 
                                                </label>
                                                <input type="text" class="form-control" id="oldRegimenStage" name="oldRegimenStage"/>
                                            </div>
                                            <div data-th-replace="widget/form :: input-hidden('oldTreatmentRegimenStage')"></div>
                                        </div>
                                        <div class="col-md-3" >
                                            <div class="form-group">
                                                <label>
                                                    Phác đồ cũ: 
                                                </label>
                                                <input type="text" class="form-control" id="oldTreatmentRegimen" name="oldTreatmentRegimen"/>
                                            </div>
                                            <div data-th-replace="widget/form :: input-hidden('oldTreatmentRegimenID')"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12" >
                                            <div data-th-replace="widget/form :: input-text('Lý do thay đổi bậc phác đồ/phác đồ:', 'causesChange', false, '', '')"></div>
                                            <input type="hidden" th:field="${form.causesChange}" id="causesChangeHidden" >
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3" >
                                            <div data-th-replace="widget/form :: input-text('Mạch (lần/phút):', 'circuit', false, '', '')"></div>
                                        </div>
                                        <div class="col-md-3" >
                                            <div data-th-replace="widget/form :: input-text('Huyết áp (mmHg):', 'bloodPressure', false, '', '')"></div>
                                        </div>
                                        <div class="col-md-3" >
                                            <div data-th-replace="widget/form :: input-text('Thân nhiệt (độ C):', 'bodyTemperature', false, '', '')"></div>
                                        </div>
                                        <div class="col-md-3" >
                                            <div data-th-replace="widget/form :: input-text('Chiều cao (cm):', 'patientHeight', false, '', '')"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3" >
                                            <div data-th-replace="widget/form :: input-text('Cân nặng (kg):', 'patientWeight', false, '', '')"></div>
                                        </div>
                                        <div class="col-md-3" >
                                            <div data-th-replace="widget/form :: input-text('Lâm sàng:', 'clinical', false, '', '')"></div>
                                        </div>
                                        <div class="col-md-3" >
                                            <div data-th-replace="widget/form :: select('Tuân thủ điều trị:', 'medicationAdherence', false, ${options.get(T(com.gms.entity.db.ParameterEntity).MEDICATION_ADHERENCE)}, '')"></div>
                                        </div>
                                        <div class="col-md-3" >
                                            <div data-th-replace="widget/form :: select('Tư vấn tăng cường tuân thủ điều trị:', 'consult', false, ${options.get('has')}, '')"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12" >
                                            <div data-th-replace="widget/form :: textarea('Chẩn đoán:', 'diagnostic', false, '', '')"></div>
                                        </div>
                                    </div>
                                    <div class="row">    
                                        <div class="col-md-3" >
                                            <div data-th-replace="widget/form :: input-text('Số ngày nhận thuốc:', 'daysReceived', false, '', '')"></div>
                                        </div>
                                        <div class="col-md-3" >
                                            <div data-th-replace="widget/form :: input-date-model('Ngày hẹn khám:', 'appointmentTime', false, 'dd/mm/yyyy', 'Định dạng nhập: Ngày/tháng/năm')"></div>
                                        </div>
                                        <div class="col-md-3" >
                                            <div data-th-replace="widget/form :: input-date-model('Ngày đầu tiên cấp thuốc nhiều tháng:', 'supplyMedicinceDate', false, 'dd/mm/yyyy', 'Định dạng nhập: Ngày/tháng/năm')"></div>
                                        </div>
                                        <div class="col-md-3" >
                                            <div data-th-replace="widget/form :: input-date-model('Ngày nhận thuốc tại xã:', 'receivedWardDate', false, 'dd/mm/yyyy', 'Định dạng nhập: Ngày/tháng/năm')"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12" >
                                            <div data-th-replace="widget/form :: input-text('Lời dặn đơn thuốc:', 'msg', false, '', '')"></div>
                                        </div>
                                    </div>
                                    <div class="row"> 
                                        <div class="col-md-12" >
                                            <div data-th-replace="widget/form :: textarea('Ghi chú:', 'note', false, '', '')"></div>
                                        </div>
<!--                                        <div th:class="${#fields.hasErrors(note)} ? 'form-group has-error' : 'form-group'">
                                            <label>Ghi chú</label>
                                            <textarea class="form-control" rows="3" id="note" th:field="*{note}" th:attr="ng-model='note'"></textarea>
                                            <p class="help-block help-block-error" th:if="${#fields.hasErrors(note)}" th:errors="*{__${note}__}" ></p>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                            <div class="box box-default box-solid">
                                <div class="box-header with-border">
                                    <h4 class="box-title">
                                        Thông tin phụ nữ mang thai nhiễm HIV
                                    </h4>
                                </div>
                                <div class="box-body">  
                                    <div class="row"> 
                                        <div class="col-md-3">
                                            <div data-th-replace="widget/gridview :: select-model('Nhóm đối tượng:', 'objectID', false, ${options.get(T(com.gms.entity.db.ParameterEntity).TEST_OBJECT_GROUP)}, '')"></div>
                                        </div>
                                        <div class="col-md-3" >
                                            <div data-th-replace="widget/form :: input-date-model('Ngày bắt đầu thai kỳ:', 'pregnantStartDate', false, 'dd/mm/yyyy', 'Định dạng nhập: Ngày/tháng/năm')"></div>
                                        </div>
                                        <div class="col-md-3" >
                                            <div data-th-replace="widget/form :: input-date-model('Ngày kết thúc thai kỳ (chuyển dạ, đẻ):', 'pregnantEndDate', false, 'dd/mm/yyyy', 'Định dạng nhập: Ngày/tháng/năm')"></div>
                                        </div>
                                        <div class="col-md-3">
                                            <div data-th-replace="widget/form :: input-date-model('Ngày dự sinh:', 'birthPlanDate', false, 'dd/mm/yyyy', 'Định dạng nhập: Ngày/tháng/năm')"></div>
                                        </div>
                                    </div>
                                    <div ng-show="objectID == '5.1' || objectID == '5.2' || objectID == '5'" >
                                        <p>
                                            <label class="text-bold">Thông tin trẻ sinh ra từ mẹ nhiễm HIV</label>&nbsp;&nbsp;&nbsp;
                                            <span><button  ng-cloak class="btn btn-primary btn-xs" type="button" id="add-title" >
                                                    <i class="fa fa fa-edit" ></i>&nbsp;Thêm thông tin con
                                                </button>
                                            </span>
                                        </p>
                                        
                                        <input type="hidden" id="start_count_value"  name="start_count_value" value="" />
                                        <div class="box box-default box-solid">
                                            <table  ng-cloak class="table table-striped table-bordered table-sm table-full" 
                                                data-scrollY="auto" data-rightColumns="0" data-leftColumns="0" >
                                                <thead id = "listPartner">
                                                    <tr class="text-center vertical-align-middle success th-fieldwrapper">
                                                        <th class="text-center "><li class="fa fa-gear"></li></th>
                                                        <th class="text-center th-agency min-width-150">Ngày sinh</th>
                                                        <th class="text-center th-agency" >Ngày BĐ dự phòng ARV</th>
                                                        <th class="text-center th-agency" >Ngày KT dự phòng ARV</th>
                                                        <th class="text-center th-agency" >Ngày BĐ Cotrimoxazole</th>
                                                        <th class="text-center th-agency" >Ngày KT Cotrimoxazole</th>
                                                        <th class="text-center th-agency" >Ngày lấy mẫu PCR lần 1</th>
                                                        <th class="text-center th-agency" >Ngày XN PCR lần 1</th>
                                                        <th class="text-center th-agency" >Kết quả XN PCR lần 1</th>
                                                        <th class="text-center th-agency" >Ngày lấy mẫu PCR lần 2</th>
                                                        <th class="text-center th-agency" >Ngày XN PCR lần 2</th>
                                                        <th class="text-center th-agency" >Kết quả XN PCR lần 2</th>
                                                        <th class="text-center th-agency" >Ngày điều trị ARV</th>
                                                        <th class="text-center " >
                                                            <button  ng-cloak class="btn btn-primary btn-xs" type="button" id="add" >
                                                                <i class="fa fa fa-edit" ></i>&nbsp;Thêm
                                                            </button>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody id="listPartnerBody">
                                                    <tr th:each="agency, itemStat : *{childs}" class="fieldwrapper" th:if="*{childs != null}">
                                                        <td class="text-center  vertical-align-middle order td_agency wrap" ><li class="fa fa-gear"></li></td>
                                                        <td class="text-center vertical-align-top td_agency wrap"><input placeholder="dd/mm/yyyy"  class="form-control tbl_agency" th:field="*{childs[__${itemStat.index}__].dob}" />
                                                            <input type="hidden" th:field="*{childs[__${itemStat.index}__].ID}">
                                                        </td>
                                                        <td class="text-center vertical-align-top td_agency wrap"><input placeholder="dd/mm/yyyy"  class="form-control tbl_agency" th:field="*{childs[__${itemStat.index}__].preventiveDate}" /></td>
                                                        <td class="text-center vertical-align-top td_agency wrap"><input placeholder="dd/mm/yyyy"  class="form-control tbl_agency" th:field="*{childs[__${itemStat.index}__].preventiveEndDate}" /></td>
                                                        <td class="text-center vertical-align-top td_agency wrap"><input placeholder="dd/mm/yyyy"  class="form-control tbl_agency" th:field="*{childs[__${itemStat.index}__].cotrimoxazoleFromTime}" /></td>
                                                        <td class="text-center vertical-align-top td_agency wrap"><input placeholder="dd/mm/yyyy"  class="form-control tbl_agency" th:field="*{childs[__${itemStat.index}__].cotrimoxazoleToTime}" /></td>
                                                        <td class="text-center vertical-align-top td_agency wrap"><input placeholder="dd/mm/yyyy"  class="form-control tbl_agency" th:field="*{childs[__${itemStat.index}__].pcrBloodOneTime}" /></td>
                                                        <td class="text-center vertical-align-top td_agency wrap"><input placeholder="dd/mm/yyyy"  class="form-control tbl_agency" th:field="*{childs[__${itemStat.index}__].pcrOneTime}" /></td>
                                                        <td class="text-center vertical-align-top td_agency wrap">
                                                            <select id ="pcrOneResult" class="form-control tbl_agency" th:field="*{childs[__${itemStat.index}__].pcrOneResult}" >
                                                                <option th:each="instance : ${options.get(T(com.gms.entity.db.ParameterEntity).TEST_RESULTS_PCR)}" th:value="${instance.key}" th:utext="${instance.value}" ></option>
                                                            </select>
                                                        </td>
                                                        <td class="text-center vertical-align-top td_agency wrap"><input placeholder="dd/mm/yyyy"  class="form-control tbl_agency" th:field="*{childs[__${itemStat.index}__].pcrBloodTwoTime}" /></td>
                                                        <td class="text-center vertical-align-top td_agency wrap"><input placeholder="dd/mm/yyyy"  class="form-control tbl_agency" th:field="*{childs[__${itemStat.index}__].pcrTwoTime}" /></td>
                                                        <td class="text-center vertical-align-top td_agency wrap">
                                                            <select id ="pcrOneResult" class="form-control tbl_agency" th:field="*{childs[__${itemStat.index}__].pcrTwoResult}" >
                                                                <option th:each="instance : ${options.get(T(com.gms.entity.db.ParameterEntity).TEST_RESULTS_PCR)}" th:value="${instance.key}" th:utext="${instance.value}" ></option>
                                                            </select>
                                                        </td>
                                                        <td class="text-center vertical-align-top td_agency wrap"><input placeholder="dd/mm/yyyy"  class="form-control tbl_agency" th:field="*{childs[__${itemStat.index}__].treatmentTime}" /></td>
                                                        <td class="text-center"><button type="button" class="btn btn-danger btn-xs delete-agency" > <i class="fa fa fa-trash" ></i>&nbsp;Xóa</button></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="row pull-right ">
                                            <div class="col-md-11">
                                                <p id="total-customer"></p>
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer text-center navbar-fixed-bottom main-footer " >
                                <button ng-cloak class="btn btn-primary"
                                        ng-click="customSubmit(visit_form, 'no', $event)" 
                                        type="submit">
                                    <i class="fa fa-edit" ></i> 
                                    Lưu thông tin
                                </button>
                                <button ng-cloak class="btn btn-primary" th:if="${!isOpcManager}"
                                        ng-click="customSubmit(visit_form, 'yes', $event)" 
                                        type="submit">
                                    <i class="fa fa-print" ></i> 
                                    In đơn thuốc 
                                </button>
                                <a th:href="${T(com.gms.components.UrlUtils).opcVisit(arv.ID, 'all')}" 
                                   class="btn btn-default" 
                                   data-confirm-browsers
                                   data-confirm="Bạn chắc chắn muốn hủy ?">Huỷ</a>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </body>
</html>
