<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-layout-decorate="~{backend/layouts/main}">
    <head>
        <title th:text="${title}" ></title>
    </head>
    <body>
        <div class="content-wrapper" role="main" data-layout-fragment="content">
            <section class="content-header">
                <h1>
                    <!--<a th:href="${T(com.gms.components.UrlUtils).home()}" class="btn btn-default" ><i class="fa fa-backward"></i> Quay lại</a>-->
                    <span th:text="${title}" ></span>
                </h1>
                <ol class="breadcrumb">
                    <li><a th:href="${T(com.gms.components.UrlUtils).home()}"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
                    <li><a th:href="${T(com.gms.components.UrlUtils).profile()}"><span >Thông tin cá nhân</span></a></li>
                    <li><a th:href="${T(com.gms.components.UrlUtils).profileChangePwd()}"><span th:text="${title}" ></span></a></li>
                </ol>
            </section>
            <section class="content" ng-controller="profile_pwd" ng-init="init()" >
                <form th:action="${T(com.gms.components.UrlUtils).profileChangePwd()}" 
                      th:object="${form}" 
                      method="post"
                      name="profile_pwd"
                      ng-submit="register(profile_pwd, $event)"
                      ng-validate="validationOptions">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="box box-info">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Nhập mật khẩu mới</h3>
                                </div>
                                <div class="box-body">
                                    <div th:if="${success != null || error != null}" th:class="${success_id != null ? 'alert alert-success alert-dismissible' : 'alert alert-danger alert-dismissible'}"  >
                                        <p th:text="${success != null ? success : error }"></p>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div data-th-replace="widget/form :: form-static('Họ tên', '', ${staff.name}, '')"></div>
                                        </div>
                                        <div class="col-md-6">
                                            <div data-th-replace="widget/form :: form-static('Tên đăng nhập', '', ${staff.username}, '')"></div>
                                        </div>
                                        <div class="col-md-12">
                                            <fieldset class="form-fieldset">
                                                <div data-th-replace="widget/form :: input-pwd('Mật khẩu hiện tại', 'oldPassword', true, '', '')"></div>
                                                <div data-th-replace="widget/form :: input-pwd('Mật khẩu mới', 'password', true, '', '')"></div>
                                                <div data-th-replace="widget/form :: input-pwd('Nhập lại mật khẩu mới', 'confirmPwd', true, '', '')"></div>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-12 text-center">
                                            <button class="btn btn-primary" type="submit"><i class="fa fa-edit"></i> Lưu thông tin</button>
                                            <a th:href="${T(com.gms.components.UrlUtils).profileChangePwd()}" data-confirm="Bạn chắc chắn muốn hủy?" class="btn btn-default">Làm lại</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /. box -->
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </body>
</html>
