<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-layout-decorate="~{backend/layouts/main}">
    <head>
        <title th:text="${title}" ></title>
    </head>
    <body>
        <div class="content-wrapper" role="main" data-layout-fragment="content">
            <section class="content-header">
                <h1>
                    <span class="loading_config" ></span>
                    <a th:href="${T(com.gms.components.UrlUtils).roleIndex()}" class="btn btn-default" >
                        <i class="fa fa-backward"></i> Quay lại
                    </a>
                    <span th:text="${title}" ></span>
                    <small th:text="${parent_title}"></small>
                </h1>
                <ol class="breadcrumb">
                    <li><a th:href="${T(com.gms.components.UrlUtils).home()}"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
                    <li><a th:href="${T(com.gms.components.UrlUtils).roleIndex()}"><span th:text="${parent_title}" ></span></a></li>
                    <li>
                        <a th:href="${T(com.gms.components.UrlUtils).roleNew()}">
                            <span th:text="${title}" ></span>
                        </a>
                    </li>
                </ol>
            </section>
            <section class="content" ng-controller="role_form" ng-init="init()" ng-cloak>
                <div class="row">
                    <div class="col-lg-12 col-md-12" data-th-include="backend/layouts/widget-message :: widget-message" ></div>
                </div>
                <script type="text/javascript" th:inline="javascript" >
                    var roles = [[${form.action}]];
                    var services = [[${form.service}]];
                    var assignmentServices = [[${assignmentServices}]];
                </script>
                <div class="row">
                    <form th:action="${T(com.gms.components.UrlUtils).roleNew()}" 
                          th:object="${form}" 
                          method="post"
                          name="role_form"
                          ng-submit="register(role_form, $event)" 
                          ng-validate="validationOptions">
                        <div class="col-lg-4 col-md-4 navbar-fixed-left">
                            <div class="box box-default">
                                <div class="box-body">
                                    <div data-th-replace="widget/form :: input-text('Tên quyền', 'name', true, '', '')"></div>
                                    <div class="form-group">
                                        <label>
                                            <span>Dịch vụ</span> 
                                        </label>
                                        <div class="form-group">
                                            <div class="checkbox" th:each="item : ${services}">
                                                <input name="service" 
                                                       th:value="${item.code}" 
                                                       type="checkbox" class="checkbox-switch-service" />
                                                <span th:utext="${item.value}" ></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer text-right">
                                    <button class="btn btn-primary" type="submit" ><i class="fa fa-edit" ></i> Lưu thông tin</button>
                                    <a th:href="${T(com.gms.components.UrlUtils).roleIndex()}" class="btn btn-default" >Huỷ</a>
                                </div>
                            </div>
                            <div class="box-header with-border">
                                <h3 class="box-title">Lưu ý</h3>
                                <div>Chức năng tạo quyền. Bạn có thể chọn/bỏ chọn những hành động ở cột bên phải của giao diện</div>
                            </div>
                            <div class="text-right" >
                                <div class="btn-group">
                                    <button class="btn btn-info" type="button" ng-click="checkAll()" ><i class="fa fa-toggle-on" ></i> Chọn tất cả</button>
                                    <button class="btn btn-info" type="button" ng-click="unCheckAll()" ><i class="fa fa-toggle-off" ></i> Bỏ chọn</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8">
                            <div class="box box-default" th:each="instance : ${roles}">
                                <div class="box-header with-border">
                                    <h3 class="box-title" th:text="${instance.key}" ></h3>
                                    <div class="box-tools" th:text="${#strings.capitalize(instance.key)}"   ></div>
                                </div>
                                <div class="box-body">
                                    <div class="form-group">
                                        <div class="checkbox" th:each="item : ${instance.value}" th:if="${item.title}">
                                            <input name="action" th:value="${item.ID}" type="checkbox" class="checkbox-switch" />
                                            <span th:utext="${item.title}" ></span>
                                            <i class="pull-right" th:utext="${item.name}" ></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <button class="btn btn-primary" type="submit" ><i class="fa fa-edit" ></i> Lưu thông tin</button>
                            <a th:href="${T(com.gms.components.UrlUtils).roleIndex()}" class="btn btn-default" >Huỷ</a>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </body>
</html>
