<!DOCTYPE html>
<html lang="en" ng-app="app" >
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title data-layout-title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE"></title>
        <link rel="shortcut icon" th:href="@{/static/backend/images/favicon.ico}" />
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link data-th-replace="backend/layouts/widget-layout :: widget-css"  />
    </head> 

    <body ng-controller="body" ng-init="init()" 
          class="hold-transition skin-blue sidebar-mini wysihtml5-supported">
        <div class="wrapper">
            <header class="main-header" th:if="${#request.userPrincipal != null}">
                <a th:href="${T(com.gms.components.UrlUtils).backendHome()}" class="logo">
                    <span class="logo-mini">
                        <span th:utext="${#request.userPrincipal.principal.site.viewName()}" ></span>
                    </span>
                    <span class="logo-lg">
                        <span th:utext="${#request.userPrincipal.principal.site.viewName()}" ></span>
                    </span>
                </a>
                <nav class="navbar navbar-static-top" data-th-fragment="top-navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <div data-th-replace="backend/layouts/widget-layout :: top-navigation"></div>
                </nav>
            </header>
            <div data-th-replace="backend/layouts/widget-layout :: sidebar-menu"></div>
            <div data-layout-fragment="content"></div>
            <div data-th-replace="backend/layouts/widget-layout :: footer-content"></div>
            <div class="control-sidebar-bg"></div>
        </div>
        <script type="text/javascript" th:inline="javascript">
            var app_security = [[${view.security}]];
            var user_action = [[${#request.userPrincipal.principal.roles}]];
            var site_config = [[${#request.userPrincipal.principal.config}]];
            var site_province = [[${#request.userPrincipal.principal.siteProvince}]];
            var user_staff_url_301 = [[${T(com.gms.components.UrlUtils).siteStaff(#request.userPrincipal.principal.site.ID)}]];
        </script>

        <script data-th-replace="backend/layouts/widget-layout :: widget-js" ></script>
        <script type="text/javascript" src="//cdn.onesignal.com/sdks/OneSignalSDK.js" async="async" th:inline="javascript"></script>
        <script type="text/javascript" th:inline="javascript" >
            var OneSignal = window.OneSignal || [];
            OneSignal.push(function () {
            OneSignal.init({allowLocalhostAsSecureOrigin: true, appId: [[${@environment.getProperty('app.onesignal.id')}]]});
            });
        </script>

        <script type="text/javascript" th:if="${#request.userPrincipal != null}" th:inline="javascript" >
            var api = '/service/profile/save-device.json';
            if (user_action.indexOf(api) != - 1) {
            OneSignal.push(["getUserId", function (useridi) {
            var devices = [[${#request.userPrincipal.principal.user.device}]];
            if (useridi != null && devices.indexOf(useridi) == - 1) {
            $.ajax({url: api + '?device=' + useridi, method: 'GET'});
            }}]);
            }
        </script>
    </body>
</html>