<ul class="nav nav-tabs header-tabs" data-th-fragment="header()">
    <li >
        <a th:href="${T(com.gms.components.UrlUtils).logActivity()}">Lịch sử nhân viên</a>
    </li>
    <li >
        <a th:href="${T(com.gms.components.UrlUtils).logLaytest()}">Xét nghiêm cộng đồng</a>
    </li>
    <li>
        <a th:href="${T(com.gms.components.UrlUtils).logVisit()}">Xét nghiệm sàng lọc</a>
    </li>
    <li>
        <a th:href="${T(com.gms.components.UrlUtils).logConfirm()}">Xét nghiệm khẳng định</a>
    </li>
    <li>
        <a th:href="${T(com.gms.components.UrlUtils).logPac()}">Quản lý người nhiễm</a>
    </li>
    <li>
        <a th:href="${T(com.gms.components.UrlUtils).logOpc()}">Điều trị ngoại trú</a>
    </li>
</ul>