<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-layout-decorate="~{backend/layouts/main}">
    <head>
        <title th:text="${title}" ></title>
    </head>
    <body>
        <div class="content-wrapper" role="main" data-layout-fragment="content">
            <section class="content-header">
                <h1>
                    <a th:href="${T(com.gms.components.UrlUtils).siteStaff(site.ID)}" class="btn btn-default" ><i class="fa fa-backward"></i> Quay lại</a>
                    <span th:text="${title}" ></span>
                    <!--<small th:text="${parent_title}"></small>-->
                </h1>
                <ol class="breadcrumb">
                    <li><a th:href="${T(com.gms.components.UrlUtils).home()}"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
                    <li><a th:href="${T(com.gms.components.UrlUtils).siteIndex()}"><span th:text="'Cơ sở '+${site.viewName()}" ></span></a></li>
                    <li><a th:href="${T(com.gms.components.UrlUtils).siteStaff(site.ID)}"><span th:text="'Quản trị viên'" ></span></a></li>
                    <li><a th:href="${T(com.gms.components.UrlUtils).siteStaffChangePwd(site.ID, staff.ID)}"><span th:text="${title}" ></span></a></li>
                </ol>
            </section>
            <section class="content" >
                <div class="row">
                    <div class="col-lg-12 col-md-12" data-th-include="backend/layouts/widget-message :: widget-message" ></div>
                </div>
                <div class="row">
                    <form th:action="${T(com.gms.components.UrlUtils).siteStaffChangePwd(site.ID, staff.ID)}" 
                          th:object="${form}" 
                          method="post"
                          name="password_form">
<!--                        <div class="col-lg-3 col-md-3">
                            <div data-th-include="backend/site/widget_site :: staff-left(${site})"></div>
                        </div>-->
                        <div class="col-lg-12 col-md-12">
                            <div class="col-lg-12 col-md-12">
                                <div class="box box-default">
                                    <div class="box-header with-border">
                                        <h3 class="box-title"><i class="fa fa-edit" ></i> Nhập mật khẩu mới</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-md-6" >
                                                <div data-th-replace="widget/form :: input-hidden('ID')"></div>
                                                <div data-th-replace="widget/form :: input-hidden('username')"></div>
                                                <div data-th-replace="widget/form :: input-hidden('name')"></div>
                                                <div data-th-replace="widget/form :: input-hidden('email')"></div>
                                                <div data-th-replace="widget/form :: input-hidden('phone')"></div>

                                                <div data-th-replace="widget/form :: form-static('Họ và tên', 'name', ${staff.name}, '')"></div>
                                                <div data-th-replace="widget/form :: form-static('Số điện thoại', 'phone', ${staff.phone}, '')"></div>
                                            </div>
                                            <div class="col-md-6" >
                                                <div data-th-replace="widget/form :: form-static('Tên đăng nhập', 'username', ${staff.username}, '')"></div>
                                                <div data-th-replace="widget/form :: form-static('Email', 'email', ${staff.email}, '')"></div>
                                            </div>
                                            <div class="col-md-12" >

                                                <fieldset class="form-fieldset">
                                                    <div data-th-replace="widget/form :: input-pwd('Mật khẩu', 'pwd', true, '', 'Mật khẩu ít nhất 6 ký tự')"></div>
                                                    <div data-th-replace="widget/form :: input-pwd('Nhập lại mật khẩu', 'confirmPwd', true, '', '')"></div>
                                                </fieldset>
                                            </div>
                                            <div class="col-md-12 text-center" >
                                                <button class="btn btn-primary" type="submit" ><i class="fa fa-edit" ></i> Lưu thông tin</button>
                                                <a th:href="${T(com.gms.components.UrlUtils).siteStaff(site.ID)}" class="btn btn-default">Huỷ</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>

        </div>
    </body>
</html>
