<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-layout-decorate="~{backend/layouts/main}">
    <head>
        <title th:text="${title}" ></title>
    </head>
    <body>
        <div class="content-wrapper" role="main" data-layout-fragment="content">
            <section class="content-header">
                <h1>
                    <a th:href="${T(com.gms.components.UrlUtils).districtIndex(provinceID)}" class="btn btn-default" ><i class="fa fa-backward"></i> Quay lại</a>
                    <span th:text="${title}" ></span>
                    <small>(<span th:text="${districtName}" ></span>)</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a th:href="${T(com.gms.components.UrlUtils).home()}"><i class="fa fa-dashboard"></i>Trang chủ</a></li>
                    <li><a th:href="${T(com.gms.components.UrlUtils).locationIndex()}"><span th:text="${provinceName}" ></span></a></li>
                    <li><a th:href="${T(com.gms.components.UrlUtils).districtIndex(provinceID)}"><span th:text="${districtName}" ></span></a></li>
                    <li class="active"><span th:text="${title}" ></span></li>
                </ol>
            </section>
            <section class="content" ng-controller="emailoutbox" ng-init="init()" >
                <div class="row">
                    <div class="col-lg-12 col-md-12" data-th-include="backend/layouts/widget-message :: widget-message" ></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="table table-striped table-bordered table-hover">
                                <table class="table table-striped table-bordered table-hover">
                                    <tbody>
                                        <tr class="text-center vertical-align-middle success">
                                            <th class="text-center">Mã</th>
                                            <th class="mailbox-star">Phường xã</th>
                                            <th class="text-center">Thứ tự</th>
                                            <th class="text-center">HTC Elog</th>
                                            <th class="text-center">HIV Info</th>
                                            <th class="text-center">Trạng thái</th>
                                            <th class="text-center">
                                                <a th:href="${T(com.gms.components.UrlUtils).wardAdd(provinceID,districtID)}" class="btn btn-primary btn-xs"
                                                   th:data-role="${T(com.gms.components.UrlUtils).wardAdd(provinceID,districtID)}">
                                                    <i class="fa fa-plus"></i> 
                                                    Thêm phường xã
                                                </a>
                                            </th>
                                        </tr>
                                        <tr th:each="item : ${listWard}">
                                            <td class="text-center">#<span th:text="${item.ID}"></span></td>
                                            <td class="mailbox-star" th:text="${item.name}"></td>
                                            <td class="text-center" th:text="${item.position}"></td>
                                            <td class="text-center" th:text="${item.elogCode}"></td>
                                            <td class="text-center" th:text="${item.hivInfoCode}"></td>
                                            <td class="text-center">
                                                <label th:if="${!item.active}" class="label label-danger" >Tạm khoá</label>
                                                <label th:if="${item.active}" class="label label-success" >Hoạt động</label>
                                            </td>
                                            <td class="text-center">
                                                <div class="btn btn-group btn-group-xs">
                                                    <a th:href="${T(com.gms.components.UrlUtils).wardDetail(provinceID,item.districtID,item.ID)}" class="btn btn-primary btn-xs"
                                                       th:data-role="${T(com.gms.components.UrlUtils).wardDetail(provinceID,item.districtID,item.ID)}">
                                                        <i class="fa fa-edit"></i> Sửa
                                                    </a>
                                                    <a th:href="${T(com.gms.components.UrlUtils).wardDelete(provinceID,districtID,item.ID)}"
                                                       data-confirm="Bạn chắc chắn muốn xoá phường(xã) này?" class="btn btn-danger btn-xs"
                                                       th:data-role="${T(com.gms.components.UrlUtils).wardDelete(provinceID,districtID,item.ID)}">
                                                        <i class="fa fa-remove"></i> Xoá
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>