<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{backend/layouts/main}">
    <head>
        <title th:utext="${#request.userPrincipal.principal.site.viewName()}" ></title>
    </head>
    <body>
        <div class="content-wrapper" role="main" data-layout-fragment="content">
            <style>
                .dashboard-height {
                    height: 300px;
                }
                .dashboard-height .fa {
                    margin-top: 100px;
                }

            </style>
            <section class="content-header">
                <h1>Tổng quan</h1>
                <ol class="breadcrumb">
                    <li><a th:href="${T(com.gms.components.UrlUtils).home()}"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
                    <li><a th:href="${T(com.gms.components.UrlUtils).siteIndex()}">Tổng quan</a></li>
                    <li><a th:href="${T(com.gms.components.UrlUtils).backendDashboard()}">Số liệu chung</a></li>
                </ol>
            </section>
            <section class="content" >
                <div id="map" class="leaflet-container leaflet-fade-anim" style="width: 100%; height: 300px;"></div>
            </section>

            <script type="text/javascript" th:src="@{'/webjars/adminlte/2.3.11/plugins/jQuery/jquery-2.2.3.min.js'}"></script>
            <script type="text/javascript" th:src="@{'/webjars/jquery-validation/1.17.0-1/jquery.validate.min.js'}"></script>
            <script type="text/javascript" th:src="@{'/webjars/adminlte/2.3.11/plugins/jQueryUI/jquery-ui.min.js'}"></script>
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
            <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
            <script>
                $.getJSON('/static/backend/plugin/amcharts/districts.json').done(function (jsondata) {
                    var ex = [];
                    for (var i = 0; i < jsondata.features.length; i++) {
                        if (jsondata.features[i].properties.Ten_Tinh == 'Tây Ninh') {
                            jsondata.features[i].id = jsondata.features[i].properties.OBJECTID;
                            ex.push(jsondata.features[i]);
                        }
                    }

                    var map = L.map('map').setView(new L.LatLng(11.3103985, 106.0258126), 1);

                    map.createPane('labels');
                    map.getPane('labels').style.zIndex = 650;
                    map.getPane('labels').style.pointerEvents = 'none';

//                    L.tileLayer('https://{s}.basemaps.cartocdn.com/light_nolabels/{z}/{x}/{y}.png', {
//                        attribution: '©OpenStreetMap, ©CartoDB'
//                    }).addTo(map);

                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                    }).addTo(map);

                    L.tileLayer('https://{s}.basemaps.cartocdn.com/light_only_labels/{z}/{x}/{y}.png', {
                        attribution: '©OpenStreetMap, ©CartoDB',
                        pane: 'labels'
                    }).addTo(map);

                    var geojson = L.geoJson(ex, {style: {
                            fillColor: '#ddd',
                            weight: 1,
                            opacity: 1,
                            color: '#000',
                            dashArray: '3',
                            fillOpacity: 0.7
                        }}).addTo(map);
                    
                    //click
//                    geojson.eachLayer(function (layer) {
//                        layer.bindPopup(layer.feature.properties.name);
//                    });

                L.marker(new L.LatLng(11.3103985, 106.0258126)).addTo(map)
                        .bindPopup('A pretty CSS3 popup.<br> Easily customizable.');

                L.marker(new L.LatLng(11.2680459, 106.1463317)).addTo(map)
                        .bindPopup('A pretty CSS3 popup.<br> Easily customizable.');
//                        .openPopup();
                
                    map.fitBounds(geojson.getBounds());
                });

            </script>
        </div>
    </body>
</html>
